<!-- Base layout -->
<!DOCTYPE html>
<html>
<head>
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
</head>
<body>
  {{ content_for_layout }}
</body>
</html>